$mainColour: #c79c7d;
$secondaryColour: #a96540;
$accentColour: #a69f99;
$textColour: #fcf0e8;

body {
  background-color: $mainColour;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 16pt;
  color: $textColour;
}

.App {
  .App-header {
    font-size: 1rem;
    margin-top: 4rem;

    h1 {
      font-style: italic;
      display: inline-block;
      font-size: 1rem;
    }

    .menubar {
      text-align: right;

      li {
        list-style-type: none;
        display: inline-block;
        padding: 0 1rem;
      }
      a {
        color: $textColour;
        &:hover {
          color: $secondaryColour;
          text-decoration: none;
        }
      }
    }
  }

  .App-body {
    padding-top: 4rem;
    h2 {
      font-style: italic;
      font-size: 4rem;
      // font-weight: 800;
    }
  }
}
