$mainColour: #c79c7d;
$secondaryColour: #a96540;
$accentColour: #a69f99;
$textColour: #fcf0e8;

$appBorder: 1px solid rgba(255, 255, 255, 0.2);

body {
  background-color: $mainColour;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 16pt;
  line-height: 2rem;
  color: $textColour;
}

.App-header {
  font-size: 1rem;
  margin-top: calc(4rem + 2vh);

  h1 {
    font-style: italic;
    display: inline-block;
    font-size: 1rem;
  }

  .menubar {
    text-align: right;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 0 1rem;
    }
    a {
      color: $textColour;
      &:hover {
        color: $secondaryColour;
        text-decoration: none;
      }
    }
  }
}

.App-search {
  padding: 4rem 0;
  h2 {
    font-style: italic;
    font-size: 4rem;
    padding-bottom: 0.5rem;
  }

  // need to clean this up and make it more SASSy

  input.form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    transition: 200ms;
  }

  input.form-control::placeholder {
    color: rgba(255, 255, 255, 0.9);
  }

  input.form-control:hover::placeholder {
    color: $secondaryColour;
  }

  input.form-control:hover,
  input.form-control:focus {
    background-color: rgba(255, 255, 255, 0.9);
    color: $secondaryColour;
  }

  .input-group button {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: rgba(255, 255, 255, 0.9);
    left: 1px;
  }

  .input-group button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: $secondaryColour;
  }
}

.App-body {
  border-bottom: $appBorder;
  .headword {
    font-size: 10rem;
    padding-bottom: 4rem;
    font-weight: 800;
  }

  .details {
    border-top: $appBorder;
  }

  .entry {
    padding: 1rem 2rem;
    // border: 1px solid red;
  }

  .word-type {
    text-align: right;
    border-right: $appBorder;
    padding: 1.4rem 2rem;
    font-style: italic;
  }

  .definition {
    padding-bottom: 1rem;
  }

  .synonyms {
    // border: 1px solid red;
    font-size: 1rem;
  }

  .phrases {
    border-left: $appBorder;
    padding: 1rem;
  }

  .-small-caps {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    font-weight: 800;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    // font-size: 0.75rem;
    font-weight: 800;
    // padding-top: 0.75rem;
  }

  ul {
    padding-inline-start: 0;
  }

  li {
    list-style-type: none;
    display: inline-block;
    padding: 0 0.25rem;
    // font-size: 0.75rem;
    // border: 1px solid red;
  }
}
.word {
  // border: 1px solid red;
}

.details {
  // border: 1px solid red;
}
